body {
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

table {
    margin: 0 auto;
}

td {
    padding: 5px;
}

input[type="text"],
input[type="password"],
select {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 2px solid #333;
}

a:hover {
    color: #666;
    border-bottom-color: #666;
}
